@charset "UTF-8";
/* CSS Document */

@font-face {
	font-family:beba;
	src:url(../fonts/BebasNeue%20Regular.ttf);
}
@font-face {
	font-family:league;
	src:url(../fonts/leaguegothic-regular-webfont.ttf);
}
@font-face {
	font-family:soria;
	src:url(../fonts/soria-font.ttf);
}
@font-face {
	font-family:fagro;
	src:url(../fonts/telegrafico.ttf);
}
@font-face {
	font-family:glamor;
	src: url(../fonts/Glamor-Bold.ttf);
}
@font-face {
	font-family:sm;
	src:url(../fonts/SM.ttf);
}
@font-face {
	font-family:xscale;
	src:url(../fonts/xscale.ttf);
}
@font-face {
	font-family:mdg;
	src:url(../fonts/mdg.ttf);
}
@font-face {
	font-family:moskb;
	src:url('../fonts/Mosk Bold 700.ttf');
}
@font-face {
	font-family:zefani;
	src:url(../fonts/Zefani.otf);
}
@font-face {
	font-family:f1;
	src:url('../fonts/1.ttf');
}
@font-face {
	font-family:f2;
	src:url(../fonts/2.ttf);
}
@font-face {
	font-family:f3;
	src:url(../fonts/3.ttf);
}@font-face {
	font-family:f4;
	src:url(../fonts/4.ttf);
}
@font-face {
	font-family:f5;
	src:url(../fonts/5.ttf);
}@font-face {
	font-family:f6;
	src:url(../fonts/6.ttf);
}@font-face {
	font-family:f7;
	src:url(../fonts/7.ttf);
}@font-face {
	font-family:f8;
	src:url(../fonts/8.ttf);
}@font-face {
	font-family:f9;
	src:url(../fonts/9.ttf);
}@font-face {
	font-family:f10;
	src:url(../fonts/10.ttf);
}@font-face {
	font-family:f11;
	src:url(../fonts/11.ttf);
}@font-face {
	font-family:f12;
	src:url(../fonts/12.ttf);
}@font-face {
	font-family:f13;
	src:url(../fonts/13.ttf);
}@font-face {
	font-family:f14;
	src:url(../fonts/14.ttf);
}@font-face {
	font-family:f15;
	src:url(../fonts/15.ttf);
}@font-face {
	font-family:f16;
	src:url(../fonts/16.ttf);
}@font-face {
	font-family:f17;
	src:url(../fonts/17.ttf);
}@font-face {
	font-family:f18;
	src:url(../fonts/18.ttf);
}@font-face {
	font-family:f19;
	src:url(../fonts/19.ttf);
}@font-face {
	font-family:f20;
	src:url(../fonts/20.ttf);
}@font-face {
	font-family:f21;
	src:url(../fonts/21.ttf);
}@font-face {
	font-family:f22;
	src:url(../fonts/22.ttf);
}@font-face {
	font-family:f23;
	src:url(../fonts/23.ttf);
}@font-face {
	font-family:f24;
	src:url(../fonts/24.ttf);
}@font-face {
	font-family:f25;
	src:url(../fonts/25.ttf);
}@font-face {
	font-family:f26;
	src:url(../fonts/26.ttf);
}@font-face {
	font-family:f27;
	src:url(../fonts/27.ttf);
}@font-face {
	font-family:f28;
	src:url(../fonts/28.ttf);
}@font-face {
	font-family:f29;
	src:url(../fonts/29.ttf);
}@font-face {
	font-family:f30;
	src:url(../fonts/30.ttf);
}@font-face {
	font-family:f31;
	src:url(../fonts/31.ttf);
}@font-face {
	font-family:f32;
	src:url(../fonts/32.ttf);
}@font-face {
	font-family:f33;
	src:url(../fonts/33.ttf);
}@font-face {
	font-family:f34;
	src:url(../fonts/34.ttf);
}@font-face {
	font-family:f35;
	src:url(../fonts/35.ttf);
}@font-face {
	font-family:f36;
	src:url(../fonts/36.ttf);
}@font-face {
	font-family:f37;
	src:url(../fonts/37.ttf);
}@font-face {
	font-family:f38;
	src:url(../fonts/38.ttf);
}@font-face {
	font-family:f39;
	src:url(../fonts/39.ttf);
}@font-face {
	font-family:f40;
	src:url(../fonts/40.ttf);
}@font-face {
	font-family:f41;
	src:url(../fonts/41.ttf);
}@font-face {
	font-family:f42;
	src:url(../fonts/42.ttf);
}@font-face {
	font-family:f43;
	src:url(../fonts/43.ttf);
}@font-face {
	font-family:f44;
	src:url(../fonts/44.ttf);
}@font-face {
	font-family:f45;
	src:url(../fonts/45.ttf);
}@font-face {
	font-family:f46;
	src:url(../fonts/46.ttf);
}@font-face {
	font-family:f47;
	src:url(../fonts/47.ttf);
}@font-face {
	font-family:f48;
	src:url(../fonts/48.ttf);
}@font-face {
	font-family:f49;
	src:url(../fonts/49.ttf);
}@font-face {
	font-family:f50;
	src:url(../fonts/50.ttf);
}@font-face {
	font-family:f51;
	src:url(../fonts/51.ttf);
}@font-face {
	font-family:f52;
	src:url(../fonts/52.ttf);
}@font-face {
	font-family:f53;
	src:url(../fonts/53.ttf);
}@font-face {
	font-family:f54;
	src:url(../fonts/54.ttf);
}@font-face {
	font-family:f55;
	src:url(../fonts/55.ttf);
}@font-face {
	font-family:f56;
	src:url(../fonts/56.ttf);
}@font-face {
	font-family:f57;
	src:url(../fonts/57.ttf);
}@font-face {
	font-family:f58;
	src:url(../fonts/58.ttf);
}@font-face {
	font-family:f59;
	src:url(../fonts/59.ttf);
}@font-face {
	font-family:f60;
	src:url(../fonts/60.ttf);
}@font-face {
	font-family:f61;
	src:url(../fonts/61.ttf);
}@font-face {
	font-family:f62;
	src:url(../fonts/62.ttf);
}@font-face {
	font-family:f63;
	src:url(../fonts/63.ttf);
}@font-face {
	font-family:f64;
	src:url(../fonts/64.ttf);
}@font-face {
	font-family:f65;
	src:url(../fonts/65.ttf);
}@font-face {
	font-family:f66;
	src:url(../fonts/66.ttf);
}@font-face {
	font-family:f67;
	src:url(../fonts/67.ttf);
}@font-face {
	font-family:f68;
	src:url(../fonts/68.ttf);
}@font-face {
	font-family:f69;
	src:url(../fonts/69.ttf);
}@font-face {
	font-family:f70;
	src:url(../fonts/70.ttf);
}@font-face {
	font-family:f71;
	src:url(../fonts/71.ttf);
}